Combining data that I scraped with another dataset from Kaggle: https://www.kaggle.com/datasets/chrisfilo/onion-or-not

In [13]:
import pandas as pd
pd.set_option('display.max_colwidth', 1000)

In [14]:
onion = pd.read_csv('../data/theonion.csv')
nonion = pd.read_csv('../data/nottheonion.csv')

In [15]:
onion.head(3)

,title,selftext,subreddit,created_utc,author,num_comments,score,timestamp
0,Planned Parenthood Mounts Giant IUD Atop Headquarters To Harness Sperm-Killing Power Of Lightning,NaN,TheOnion,1654252105,Sanlear,0,1,2022-06-03
1,Teachers React To Yet Another School Shooting,NaN,TheOnion,1654253489,fstorino,0,1,2022-06-03
2,Teachers React To Yet Another School Shooting,NaN,TheOnion,1654264019,a-horse-has-no-name,0,1,2022-06-03

**Note to self**: come back to the author, num comments, score and timestamp columns

In [16]:
nonion.head(3)

,title,selftext,subreddit,created_utc,author,num_comments,score,timestamp
0,Republican Congressman Blames Mass Shootings on Women Having Rights,NaN,nottheonion,1654249135,marietaylor33414,1,1,2022-06-03
1,Republican Congressman Blames Mass Shootings on Women Having Rights,NaN,nottheonion,1654249212,Snoo24wastaken,1,1,2022-06-03
2,Ohio GOP passes bill aiming to root out 'suspected' transgender female athletes through genital inspection,NaN,nottheonion,1654250056,marietaylor33414,0,1,2022-06-03

In [17]:
onion['selftext'].isnull().sum()

8176

In [18]:
nonion['selftext'].isnull().sum()

10123

In [19]:
##pulling out current columns of interest and renaming columns
onion = onion[['title','subreddit']]
nonion = nonion[['title', 'subreddit']]

onion.columns = ['text', 'label']
nonion.columns = ['text', 'label']

In [20]:
#assigning lables
onion['label'] = 1
nonion['label'] = 0

In [21]:
#combing data:
non = pd.concat([onion, nonion], axis =0)

In [22]:
non.isnull().sum()

text     0
label    0
dtype: int64

In [24]:
precombined = pd.read_csv('../data/OnionOrNot.csv')

In [25]:
precombined.head()
#1 is onion, 0 is not onion

,text,label
0,Entire Facebook Staff Laughs As Man Tightens Privacy Settings,1
1,Muslim Woman Denied Soda Can for Fear She Could Use It as a Weapon,0
2,Bold Move: Hulu Has Announced That They’re Gonna Go Ahead And Reboot ‘Shrill’ While It’s Still On Since You Idiots Will Watch Anything,1
3,Despondent Jeff Bezos Realizes He’ll Have To Work For 9 Seconds To Earn Back Money He Lost In Divorce,1
4,"For men looking for great single women, online dating offers a viable solution to the otherwise frustrating task of finding long-term love. A0rNsK5",1

In [32]:
combined = pd.concat([non, precombined])

In [33]:
combined.head()

,text,label
0,Planned Parenthood Mounts Giant IUD Atop Headquarters To Harness Sperm-Killing Power Of Lightning,1
1,Teachers React To Yet Another School Shooting,1
2,Teachers React To Yet Another School Shooting,1
3,Children Of All Ages Delighted By Enslavement Of Topsy The Elephant,1
4,Texas Passes Mandatory 24-Hour Waiting Period Before Police Can Engage Active Shooters,1

In [34]:
combined.drop_duplicates(inplace = True)

In [35]:
combined.shape

(37894, 2)

In [36]:
combined.head()

,text,label
0,Planned Parenthood Mounts Giant IUD Atop Headquarters To Harness Sperm-Killing Power Of Lightning,1
1,Teachers React To Yet Another School Shooting,1
3,Children Of All Ages Delighted By Enslavement Of Topsy The Elephant,1
4,Texas Passes Mandatory 24-Hour Waiting Period Before Police Can Engage Active Shooters,1
5,School Practices Drill For When There’s Not An Active Shooter,1

In [37]:
combined['label'].value_counts()

0    24779
1    13115
Name: label, dtype: int64

In [38]:
combined.to_csv('satireornot.csv', index = False)